﻿@page "/"
@using System
@using System.IO
@using System.Xml.Serialization
@using WebApplication.Data

@inject TransactionService TransactionService

<h3>Select a transaction file.</h3>
<p><InputFile OnChange="@LoadFile" /></p>
<p>@message</p>

@code 
{
    private long maxFileSize = 1;
    private string message;

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        try
        {
            //Block any fize size bigger than 1mb
            if (e.File.Size > (maxFileSize * 1024))
            {
                throw new Exception("File size exceeded.");
            }

            //Get the file extension
            string fileExt = e.File.Name.Substring(e.File.Name.LastIndexOf('.') + 1).ToUpper();

            //Block any file format not CSV and XML
            if (fileExt != "CSV" && fileExt != "XML")
            {
                throw new Exception("Wrong file format.");
            }

            //Read file content to string
            var memoryStream = new MemoryStream();
            await e.File.OpenReadStream().CopyToAsync(memoryStream);
            var fileString = System.Text.Encoding.UTF8.GetString(memoryStream.ToArray());

            if (fileExt == "CSV")
            {
                //Loop all the line in the string
                foreach (var item in fileString.Split(Environment.NewLine).Skip(1))
                {
                    TransactionService.SaveToDatabase(item.ToTransaction());
                }
            }
            else if (fileExt == "XML")
            {
                //Serialize string to object
                StringReader reader = new StringReader(fileString);
                XmlSerializer serializer = new XmlSerializer(typeof(Transactions));
                var result = (Transactions)serializer.Deserialize(reader);

                reader.Close();

                //Loop all the collection found in the XML
                foreach (var item in result.colTransaction)
                {
                    TransactionService.SaveToDatabase(item.ToTransaction());
                }
            }

            message = $"Successfully loaded file {e.File.Name}.";

        }
        catch (Exception ex)
        {
            message = $"Error : {ex.Message}";
        }
    }
}
